<main role="main">
  <div class="container">
    <div class="row">
      <div class="col">
        <app-header></app-header>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
<!--        <alert></alert>-->
      </div>
    </div>
  </div>
  <div class="container-fluid py-5">
    <div class="row">
      <div class="offset-sm-1 col">
        <router-outlet></router-outlet>
      </div>
      <div class="col-sm-1">
        <div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</main>
