<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes">Recipes</a>
        </li>
        <li class="dropdown nav-item">
          <a class="nav-link" routerLink="/api">API</a>
        </li>
      </ul>
    </div>
    <div class="col-2">
      <!-- placeholder to right-hand side of menu, see https://getbootstrap.com/docs/4.2/layout/grid/#horizontal-alignment -->
    </div>
  </nav>
</header>
